$header: #212529;

/* Media query breakpoints */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

/* Media query mixins */

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/* Custom devices */

@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@font-face {
  font-family: 'Cousine';
  src: url('./assets/fonts/Cousine/Cousine-Regular.eot');
  src: url('./assets/fonts/Cousine/Cousine-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Cousine/Cousine-Regular.woff2') format('woff2'),
  url('./assets/fonts/Cousine/Cousine-Regular.woff') format('woff'),
  url('./assets/fonts/Cousine/Cousine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chivo';
  src: url('./assets/fonts/Chivo/Chivo-Regular.eot');
  src: url('./assets/fonts/Chivo/Chivo-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Chivo/Chivo-Regular.woff2') format('woff2'),
  url('./assets/fonts/Chivo/Chivo-Regular.woff') format('woff'),
  url('./assets/fonts/Chivo/Chivo-Regular.svg#Chivo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chivo-Bold';
  src: url('./assets/fonts/Chivo/Chivo-Bold.eot');
  src: url('./assets/fonts/Chivo/Chivo-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Chivo/Chivo-Bold.woff2') format('woff2'),
  url('./assets/fonts/Chivo/Chivo-Bold.woff') format('woff'),
  url('./assets/fonts/Chivo/Chivo-Bold.svg#Chivo-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.eot');
  src: url('./assets/fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
  url('./assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('./assets/fonts/Poppins/Poppins-Medium.eot');
  src: url('./assets/fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
  url('./assets/fonts/Poppins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html, body {
  @include sm {
    font-size: 62.5%;
  }
  @include md {
    font-size: 62.5%;
  }
  @include lg {
    font-size: unset;
  }
  @include xl {
    font-size: unset;
  }
  font-family: 'Poppins', sans-serif;
}

.header--h1-margins {
  margin: 1em 0 1em 0;
}

.nav-item {
  margin: 0 1em 0 1em;
}
