@import '../../assets/scss/mediaQueries.scss';

$font-size-body-em: 1em;
$header: #212529;
$border: #e8e8e8;

body {
  font-size: $font-size-body-em;
}

.dashboard-link {
  margin-left: 1.5em;
}

.editor {
  padding: 1em !important;
  font-family: 'Cousine', sans-serif;
  color: $header;
  font-size: 2em !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: none;
  line-height: 1.5em !important;
  @include sm {
    min-height: 50vh;
  }
  @include md {
    min-height: 50vh;
  }
  @include lg {
    min-height: 100vh;
  }
  @include xl {
    min-height: 100vh;
  }
}

.editor-wrapper {
  @include sm {
    border-bottom: 2px solid $border;
  }
  @include md {
    border-right: 2px solid $border;
  }
  @include lg {
    border-right: 2px solid $border;
  }
  @include xl {
    border-right: 2px solid $border;
  }
}

.editor-class > .form-control {
  border: none !important;
}

.expand {
  right: 3em;
  position: absolute;
  top: 2em;
}

.expand .svg-inline--fa {
  font-size: 2em;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
