hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1em 0 .8em 0; }

.card {
  min-height: 38em; }

.card-tasks {
  max-height: 20em;
  min-height: 38em; }

.card-tasks .card-header .title {
  font-weight: 600; }

.card-tasks .table-full-width {
  padding: 0 1.5em 0 1.5em;
  max-height: 33em; }

.card label {
  font-size: 0.9em;
  font-weight: 600;
  color: #fff; }

.event-scheduler--event-input {
  height: 15em;
  width: 80vw;
  font-size: 1.4em; }

.job-creator-card .card-header {
  font-family: 'Poppins Medium', sans-serif !important; }

.job-creator-card .card-header {
  border-bottom: unset;
  padding: 2rem 1em 0 1.6rem; }

.job-creator-card .card-footer {
  border-top: unset;
  padding: 0 0 1.25rem 1.3rem; }

.job-date {
  float: right; }

.recent-jobs-card .card-header {
  font-family: 'Poppins Medium', sans-serif !important;
  border-bottom: unset;
  padding: 2rem 1em 0 1.6rem; }

.recent-jobs-card .card-footer {
  border-top: unset;
  padding: 0 0 1.25rem 1.3rem; }

.recent-jobs--card-title {
  float: left;
  font-family: 'Poppins Medium', sans-serif !important;
  white-space: nowrap;
  margin-bottom: 0;
  max-width: 14ch;
  text-overflow: ellipsis;
  overflow: hidden; }

.textField-hidden {
  display: none; }
