@font-face {
  font-family: 'Cousine';
  src: url("../fonts/Cousine/Cousine-Regular.eot");
  src: url("../fonts/Cousine/Cousine-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine/Cousine-Regular.woff2") format("woff2"), url("../fonts/Cousine/Cousine-Regular.woff") format("woff"), url("../fonts/Cousine/Cousine-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa/Comfortaa-Regular.eot");
  src: url("../fonts/Comfortaa/Comfortaa-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Comfortaa Bold';
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot");
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Crete Round Italic';
  src: url("../fonts/CreteRound/CreteRound-Italic.eot");
  src: url("../fonts/CreteRound/CreteRound-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CreteRound/CreteRound-Italic.woff2") format("woff2"), url("../fonts/CreteRound/CreteRound-Italic.woff") format("woff"), url("../fonts/CreteRound/CreteRound-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Crete Round';
  src: url("../fonts/CreteRound/CreteRound-Regular.eot");
  src: url("../fonts/CreteRound/CreteRound-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CreteRound/CreteRound-Regular.woff2") format("woff2"), url("../fonts/CreteRound/CreteRound-Regular.woff") format("woff"), url("../fonts/CreteRound/CreteRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Chivo';
  src: url("../fonts/Chivo/Chivo-Regular.eot");
  src: url("../fonts/Chivo/Chivo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Chivo/Chivo-Regular.woff2") format("woff2"), url("../fonts/Chivo/Chivo-Regular.woff") format("woff"), url("../fonts/Chivo/Chivo-Regular.svg#Chivo-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Chivo Bold';
  src: url("../fonts/Chivo/Chivo-Bold.eot");
  src: url("../fonts/Chivo/Chivo-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Chivo/Chivo-Bold.woff2") format("woff2"), url("../fonts/Chivo/Chivo-Bold.woff") format("woff"), url("../fonts/Chivo/Chivo-Bold.svg#Chivo-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Regular.eot");
  src: url("../fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins Medium';
  src: url("../fonts/Poppins/Poppins-Medium.eot");
  src: url("../fonts/Poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Nunito Bold';
  src: url("../fonts/Nunito/Nunito-Bold.eot");
  src: url("../fonts/Nunito/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-Regular.eot");
  src: url("../fonts/Nunito/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata/Inconsolata-Regular.eot");
  src: url("../fonts/Inconsolata/Inconsolata-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inconsolata/Inconsolata-Regular.woff2") format("woff2"), url("../fonts/Inconsolata/Inconsolata-Regular.woff") format("woff"), url("../fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu Mono Bold';
  src: url("../fonts/UbuntuMono/UbuntuMono-Bold.eot");
  src: url("../fonts/UbuntuMono/UbuntuMono-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono/UbuntuMono-Bold.woff2") format("woff2"), url("../fonts/UbuntuMono/UbuntuMono-Bold.woff") format("woff"), url("../fonts/UbuntuMono/UbuntuMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu Mono';
  src: url("../fonts/UbuntuMono/UbuntuMono-Regular.eot");
  src: url("../fonts/UbuntuMono/UbuntuMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono/UbuntuMono-Regular.woff2") format("woff2"), url("../fonts/UbuntuMono/UbuntuMono-Regular.woff") format("woff"), url("../fonts/UbuntuMono/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
