/* Media query breakpoints */
/* Media query mixins */
/* Custom devices */
.flyoutMenu {
  background-color: ghostwhite;
  position: fixed;
  font-family: 'Cousine', sans-serif;
  right: 0;
  top: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll; }
  @media (min-width: 576px) {
    .flyoutMenu {
      height: 40%; } }
  @media (min-width: 768px) {
    .flyoutMenu {
      height: 40%;
      width: 40%; } }
  @media (min-width: 992px) {
    .flyoutMenu {
      height: 100%; } }
  @media (min-width: 1200px) {
    .flyoutMenu {
      height: 100%; } }

.flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none; }

.flyoutMenu h2 a:hover {
  text-decoration: underline; }

.menu-button {
  position: fixed;
  top: 2em;
  right: 2em; }
