.flyoutMenu {
  background-color: ghostwhite;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 1000; }

.flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none; }

.flyoutMenu h2 a:hover {
  text-decoration: underline; }

.menu-button {
  position: fixed;
  top: 2em;
  right: 2em; }
