@import '../../assets/scss/mediaQueries.scss';

.flyoutMenu {
  background-color: ghostwhite;
  position: fixed;
  font-family: 'Cousine', sans-serif;
  right: 0;
  top: 0;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  @include sm {
    height: 40%;
  }
  @include md {
    height: 40%;
    width: 40%;
  }
  @include lg {
    height: 100%;
  }
  @include xl {
    height: 100%;
  }
}

.flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

.flyoutMenu h2 a:hover {
  text-decoration: underline;
}

.menu-button {
  position: fixed;
  top: 2em;
  right: 2em;
}
